

html, body {
    background: #F6F4EC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;  
    
}


.content {
    min-height: 80px;
    background: linear-gradient(
        90deg, 
        rgba(228,120,62,1) 0%, 
        rgba(239,186,137,1) 70%
    );  
}

.menu{
    position:absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

   .logo img{
   cursor: pointer;
   height: 50px;
}

.logo .img{
    transition: 0.3s;
}

header .logo img:hover{
    transform: scale(1.2);
}


.menu .navbar ul li{
    position: relative;
    float:left;
}


   .regresar img{
   cursor: pointer;
   height: 25px;
}

.regresar .img{
    transition: 0.3s;
}

header .regresar img:hover{
    transform: scale(1.2);
}




.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: white;;
}

#menu{
    display: none;
   
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

h1{
    margin: 80px 0 0 350px;
    color: white;
    
}

@media(max-width:991px){
    
    .content{
        min-height: 70px;
    }
    
    .menu{
        top: 0;
        padding: 20px;
    }
    
    .menu label{
        display: initial;
    }
    
    .menu .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
        90deg, 
        rgba(228,120,62,1) 0%, 
        rgba(239,186,137,1) 70%
        );  
        display: none;
    }
    
    .menu.navbar ul li{
        width: 100%;
    }
    
    #menu:checked ~ .navbar{
        display: initial;
    }
    
}



.nombre_check-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.nombre_check {
    
  padding: 0.4em 0.4em;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
    background:  linear-gradient(
        90deg, 
        rgba(228,120,62,1) 0%, 
        rgba(239,186,137,1) 70%
    );
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 600px;
}

.nombre_check:hover {
  background: white;
  box-shadow: 0px 15px 20px white;
  color: black;
  transform: translateY(-7px);
}

.nombre_check:active {
  transform: translateY(-1px);
}










.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    width: 620px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);  /* gris*/
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

.form .group input:placeholder-shown+ label,
.form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: #FF914D;
}

.form .group input:focus+ label,
.form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #FF914D;
    font-weight: 600;
    font-size: 14px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form button {
    background-color: #FF914D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #D87C44;
}

/* CSS DE LAS PREGUNTAS CON Boton de radio*/

.radio-input input {
    display: none;
}

.radio-input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    width: 320px;
    margin: 20px auto;
}

.info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question {
    color: rgb(99, 102, 102);
    font-size: 16px;
    font-weight: 600;
}


.radio-input label {
    display: flex;
    background-color: #fff;
    padding: 14px;
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(99, 102, 102);
    transition: 0.3s ease;
}

.radio-input label:hover {
    background-color: #FF914D;
    border: 1px solid #FF914D;
    color: #fff;
}

.result {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    display: none;
    transition: display .4s ease;
}


.result.error {
    color: rgb(99, 102, 102);
}

.radio-input input:checked + label {
    border-color: #FF914D;
    color: rgb(99, 102, 102) ;
}

.radio-input input[value="value-2"]:checked + label {
    border-color: rgb(22, 245, 22);
    color: rgb(16, 184, 16);
}

