*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(fondo.jpg);
}

.titulo{
    height: 105px;
    width: 100%;
    color: #FFFFFF;
    margin: auto;
    margin-top: 20px;
    font-size: 70px;
    font-family: monospace;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.contenido{
    height: 550px;
    width: 75%;
    background-color: rgb(255,145,77);
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "login logoin"
}
.login{
    width: 97%;
    height: 92%;
    border-radius: 10px;
    justify-self: left;
    margin: auto;
    margin-right: 0;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "preguntas"
}
.preguntas{
    margin: auto;
    margin-top: 10%;
    align-items: center;
}
.coolinput {
  display: flex;
  flex-direction: column;
  width: 350px;
  position: static;
  
}
.coolinput label.text {
  font-size: 0.90rem;
  color: #3d405b;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #FFFFFF;
  width: fit-content;
}
.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #ff914d solid;
  border-radius: 5px;
  background: #FFFFFF;
  height: 35px
}
.coolinput input[type=text].input:focus {
  outline: none;
}

.logoin{
    grid-area: logoin;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    justify-self: left;
    margin: auto;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas: "logologin"
}
.logologin{
    margin: auto;
    margin-bottom: 0;
}
.bienvenido{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    color: #3d405b;
    
}

b2{
    font-size: 20px;
    color: #3d405b;
}

.button {
  position: relative;
  margin-left: 70%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(255,145,77,.7);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFFFFF;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ff914d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #ff914d;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
